<table class="table">
  <thead>
    <tr>
      <th>
        <span>
          <i class="fa fa-plus-circle" aria-hidden="true" (click)="onCreateUser()"></i>
        </span>
      </th>
      <th scope="col">id</th>
      <th scope="col">Nombres</th>
      <th scope="col">Apellidos</th>
      <th scope="col">Cedula</th>
      <th scope="col">Correo</th>
      <th scope="col">Telefono</th>
      <th>
      </th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let user of usersBody$ | async">
      <tr >
        <th></th>
        <td>{{ user.id }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.idNumber }}</td>
        <td>{{ user.email }}</td>      
        <td>{{ user.telephone }}</td>      
        <td>
          <span>
            <i class="fa fa-edit" aria-hidden="true" (click)="onEditUser(user.id)"></i>            
            <i class="fa" [ngClass]="{'fa-chevron-left': user.showLikes, 'fa-chevron-down': !user.showLikes}" aria-hidden="true" (click)="user.showLikes = !user.showLikes"></i>
          </span>
        </td>
      </tr>
      <ng-container *ngIf="user.showLikes">
        <tr>
          <td colspan="8">
            <span style="font-weight: bold;">Gustos</span>
            <table class="table">
              <thead>
                <tr>
                  <th>
                    <span>
                      <i class="fa fa-plus-circle" aria-hidden="true" (click)="onAddLike(user)"></i>
                    </span>
                  </th>
                  <th scope="col">Id</th>
                  <th scope="col">Nombre</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let like of user.likes; let i = index">
                  <td></td>
                  <td>{{ like.id }}</td>
                  <td>
                    <span *ngIf="!like.editMode">{{ like.name }}</span>
                    <div class="form-group" *ngIf="like.editMode">
                      <input
                        placeholder="Nombre"
                        type="text"
                        id="name"
                        name="name"
                        class="form-control"
                        [(ngModel)]="like.name"
                        >
                        <span class="alert-block" *ngIf="!like.name">Introduzca un nombre valido!</span>
                    </div>
                  </td>
                  <td>
                    <span>
                      <i class="fa" [ngClass]="{'fa-edit': !like.editMode, 'fa-save': like.editMode}" aria-hidden="true" (click)="like.editMode ? onModifyLike(i, user) : like.editMode = true"></i>            
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </ng-container>
    </ng-container>
  </tbody>
</table>