<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button
            type="submit"
            class="btn btn-info"
            [ngClass]="{'disabled-button': userForm.invalid}"
            [disabled]="userForm.invalid"
            >Guardar</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancelar</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Nombres</label>
            <input
              type="text"
              id="firstName"
              class="form-control"
              formControlName="firstName">
            <span class="alert-block" *ngIf="userForm.get('firstName').invalid && userForm.get('firstName').touched">Introduzca un nombre valido!</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Apellidos</label>
            <input
              type="text"
              id="lastNAme"
              class="form-control"
              formControlName="lastName">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Cedula</label>
            <input
              type="text"
              id="idNumber"
              class="form-control"
              formControlName="idNumber">
              <span class="alert-block" *ngIf="userForm.get('idNumber').invalid && userForm.get('idNumber').touched">Introduzca una cedula valida! Ej: 123456</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Correo</label>
            <input
              type="text"
              id="email"
              class="form-control"
              formControlName="email">
              <span class="alert-block" *ngIf="userForm.get('email').invalid && userForm.get('email').touched">Introduzca un correo valido!</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Telefono</label>
            <input
              type="text"
              id="telephone"
              class="form-control"
              formControlName="telephone">
              <span class="alert-block" *ngIf="userForm.get('telephone').invalid && userForm.get('telephone').touched">Introduzca un telefono valido! Ej: 123456</span>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
